
body {
    margin: 0px;
    height: 80vw;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 6fr;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    grid-column-start: 1;
    grid-row-start: 1;
    background-color: darkblue;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 4rem;
}

article {
    grid-column-start: 1;
    grid-row-start: 2;
    display: flex;
    align-items: center;
    justify-content: center;
}

aside {
    grid-column-start: 2;
    grid-row: 1 / 3;
    background-color: aqua;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 5rem;
}

section {
    background-color: darkred;
    width: 60%;
    height: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

section * {
    padding: 1rem;
    margin: 2rem;
}

button {
    background-color: blue;
    color: white;
}

.logo {
    background-color: lightgray;
    width: 3rem;
    height: 3rem;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cosmetic {
    background-color: blue;
    padding: 2rem;
    width: 60%;
}

.circle {
    height: 4rem;
    width: 4rem;
    background-color: gray;
    border-radius: 50%;
    align-self: flex-end;
}

.mobile {
    display: none;
}


@media (max-width: 480px) {
    body {
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    .desktop {
        display: none
    }

    .mobile {
        display: flex;
    }

    header {
        flex: 1 1 1fr;
        width: 100%;
        display: flex;
        align-items: flex-end;
        
        padding: 3rem;
    }

    article {
        flex: 1 1 4fr;
        display: flex;
        padding: 0px;
    }

    .circle {
        align-self: flex-end;
        justify-self: flex-end;

    }

    section {
        display: flex;
        height: 40%;
        width: 100%;
    }





}