
body {
    margin: 0px;
    height: 80vw;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 6fr;
}

header {
    grid-column-start: 1;
    grid-row-start: 1;
    background-color: darkblue;
}

article {
    grid-column-start: 1;
    grid-row-start: 2;
    display: flex;
    align-items: center;
    justify-content: center;
}

aside {
    grid-column-start: 2;
    grid-row: 1 / 3;
    background-color: aqua;
}

section {
    background-color: darkred;
    width: 60%;
    height: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

section * {
    padding: 1rem;
}
